.container{
    background-color:#d2d7d3;
    width:100%;
}

.elastic-container{
    display: flex;
    width: 100%;
}
.elastic-left-container{
    width: 30%;
    padding:0.5em;
    justify-content: flex-start
}
.elastic-right-container{
    width:75%;
    justify-content: flex-start;
    padding: 0.5em;
}


  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 800px) {
    .elastic-container{
        flex-direction: column;
    }
    .elastic-left-container{
        width: 100%;
    }
    .elastic-right-container{
        width: 100%;
    }
  }