.container{
    background-color:#e7eff1;
    width:100%;
}

.elastic-container{
    display: flex;
    width: 100%;
}
.elastic-left-container{
    width: 30%;
    padding:0.5em;
    justify-content: flex-start
}
.elastic-right-container{
    width:75%;
    justify-content: flex-start;
    padding: 0.5em;
}
